@charset "utf-8";
/* CSS Document Created By Fayas Majeed */
* {max-width: 100%}
*{
	margin:0;
	padding:0;
}

body{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000000;
	margin:0 auto;
	padding:0;
	background:url(../images/bg.jpg) center top no-repeat;
}

ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,input{
	margin:0; padding:0;
}

H1, H2, H3, H4, H5, H6, UL, LI, FORM {
	margin:0;
	padding:0;
}

H1, H2, H3, H5, H6 {
	display:block;
}

h1{
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	color:#6c5f5f;
	font-weight:bold;
	padding-bottom:10px;
}

H2 {

}

H3 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#6c5f5f;
	font-weight:bold;
	padding-top:10px;
}

H4 {

}

H5 {

}

UL LI {
	list-style-type:none;
}

P {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000000;
	text-align:justify;
	line-height:18px;
	padding:10px 0px;
}

img{
	border:0;
}

.clear {
	height:0px;
	line-height:0px;
	font-size:0px;
	display:block;
	clear:both;
}

/*---Main Style Start Here--- old css values

#WrapperMain{
	width:1003px;
	margin:0 auto;
}

#Wrapper{
	width:974px;
	margin:0 auto;
}

#Wrapper{
	width:974px;
	margin:0 auto;
}
#Header_area{
	width:974px;
	height:151px;
}

#Navigation{
	width:974px;
	height:40px;
	background:url(/web/20160514210853im_/http://bluemaxholidays.com/images/navibg.gif) repeat-x;
}

#Banner{
	width:974px;
	height:230px;
	margin:10px 0px;
}

#Whatsnew_textarea{
	width:822px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#222222;
	float:left;
	background:url(/web/20160514210853im_/http://bluemaxholidays.com/images/watsnew_arrow.png) left center no-repeat;
	padding:12px 15px;
}

*/


#WrapperMain{
	max-width:1003px;
	margin:0 auto;
}

#Wrapper{
	width:974px;
	margin:0 auto;
}

#Header_area{
	width:974px;
	height:151px;
}

#LogoLeft{
	width:240px;
	height:115px;
	float:left;
	margin-top:15px;
}

#LogoRight{
	width:148px;
	height:111px;
	float:right;
	margin-top:20px;
	margin-right:40px;
}

/*---Navigation Start Here---*/
#Navigation{
	width:974px;
	height:40px;
	background:url(../images/navibg.gif) repeat-x;
}

#Navigation ul li{
	list-style:none;
	float:left;
}

#Navigation ul li a{
	font-family:"Myriad Pro";
	font-size:16px;
	color:#000000;
	display:block;
	text-decoration:none;
	padding:11px 22px;
}

#Navigation ul li a:hover,#Navigation ul li a.active{
	background:url(../images/navi_over.gif) repeat-x;
}
/*---Navigation Start End---*/

#Banner{
	width:974px;
	height:230px;
	margin:10px 0px;
}

#Whatsnew_area{
	width:974px;
	background:#FFFFFF;
	border:1px solid #cecece;
}

#Whatsnew_head{
	width:122px;
	font-family:"Myriad Pro";
	font-size:14px;
	color:#fff;
	/*font-weight:bold;*/
	text-align:center;
	background:#00aeef;
	float:left;
	padding:12px 0px;
}

#Whatsnew_textarea{
	width:822px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#222222;
	float:left;
	background:url(../images/watsnew_arrow.png) left center no-repeat;
	padding:12px 15px;
}

#Whatsnew_textarea ul{
	margin:0; padding:0;
}

#Whatsnew_textarea ul li{
	list-style:none;
	float:left;
	background:url(../images/brudcrump_arrow.png) no-repeat;
	background-position:0px 5px;
	padding:0px 15px;
}

#Whatsnew_textarea ul li a{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000000;
	display:block;
	text-decoration:none;
}

#Whatsnew_textarea ul li a:hover,#Whatsnew_textarea ul li a.active{
	color:#00aeef;
}

/*---Content Area Start---*/
#ContentArea{
	width:914px;
	background:#fff;
	margin-top:10px;
	padding:20px 30px 15px 30px;
}

#MainContentarea{
	width:914px;
	padding-bottom:30px;
}

#LeftContentarea{
	width:667px;
	float:left;
}

.content_image{
	width:180px;
	height:120px;
	float:right;
	border:1px solid #00aeef;
	padding:2px;
	margin-left:10px;
}

.viewall{
	width:62px;
	height:19px;
	background:url(../images/vieall_bg.png) no-repeat;
	text-align:center;
	padding-top:4px;
}

.viewall a{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#fff;
	font-weight:bold;
	text-decoration:none;
}

.viewall a:hover{
	color:#000000;
}

.catagory_area{
	width:667px;
	margin-bottom:10px;
}

.listmenu{
	width:150px;
	float:left;
	margin-right:10px;
}

.category{
	width:150px;
	height:20px;
	background:#FFF;
	border:1px solid #bdcef7;
}

.submitbtn_area{
	width:58px;
	height:20px;
	float:left;
}

.submitbtn{
	width:58px;
	height:20px;
	background:url(../images/submit_btn.png) no-repeat;
	border:none;
	cursor:pointer;
}

.tour_package{
	width:667px;
	padding:20px 0px;
	border-bottom:1px dashed #00aeef;
}

.tour_photo{
	width:150px;
	height:100px;
	border:1px solid #00aeef;
	padding:1px;
	float:left;
}

.tour_details{
	width:490px;
	float:left;
	padding:0px 0px 0px 20px;
}

.tour_details h5{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#222222;
}

.tour_details p{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#222222;
	line-height:normal;
	text-align:left;
	padding:5px 0px 5px 0px;
}

.readmore {
	float:right;
	padding-top:10px;
}

.readmore a{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#222222;
	text-decoration:underline;
	background:url(../images/readmore_arrow.png) right center no-repeat;
	display:block;
	padding-right:10px;
}

.readmore a:hover{
	text-decoration:none;
}

.booking_formarea{
	width:667px;
	margin-top:10px;
	padding-bottom:10px;
}

.subheading{
	padding:8px 0px;
}

.textbox{
	width:200px;
}
/*---Left Content Area End---*/

#RightContentarea{
	width:212px;
	float:right;
}

#RightLinks{
	width:210px;
	border:1px solid #e7e6e5;
}

#RightLinks h2{
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#FFFFFF;
	background:#00aeef;
	padding:5px 0px 5px 10px;
}

#RightLinks ul li{
	list-style:none;
	border-bottom:1px dashed #025979;
}

#RightLinks ul li a{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#222222;
	text-decoration:none;
	background:url(../images/arrow_red.png) 15px center no-repeat #fff;
	border:none;
	display:block;
	padding:8px 0px 8px 25px;
}

#RightLinks ul li a:hover,#RightLinks ul li a.active{
	background:url(../images/arrow_red.png) 15px center no-repeat #ffdb4e;
}



/*---Bootom Linkarea---*/
#BottomLinksarea{
	width:914px;
	border-top:1px solid #e7e6e5;
	border-bottom:1px solid #e7e6e5;
	padding:15px 0px;
}

.tourpackages{
	float:left;
	border-right:1px dashed #7f7f7f;
	padding:0px 50px;
}

.tourpackages h1{
	padding-bottom:5px;
}

.tourpackages ul li{
	list-style:none;
	line-height:28px;
}

.tourpackages ul li a{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000;
	text-decoration:none;
	background:url(../images/arrow_black.png) left center no-repeat;
	padding-left:13px;
	display:block;
}

.tourpackages ul li a:hover{
	text-decoration:underline;
}


.bottom_readmore {
	width:70px;
	margin-top:10px;
}

.bottom_readmore a{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000;
	text-decoration:underline;
	background:url(../images/readmore_arrow.png) right center no-repeat;
	display:block;
}

.bottom_readmore a:hover{
	text-decoration:none;
}

.followus_area{
	width:180px;
	float:left;
	padding-left:50px;
}

.follow_icon{
	margin-bottom:14px;
}

.follow_icon ul li{
	list-style:none;
	float:left;
	margin-left:15px;
}

.follow_icon ul li a:hover{
	opacity:0.6;
}

.photogallery{
	border-top:1px dashed #7f7f7f;
	padding:14px 0px;
}

.photogallery a{
	height:23px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	color:#222222;
	text-decoration:none;
	font-weight:bold;
	background:url(../images/photo_icon.png) left 0px no-repeat;
	padding:5px 0px 0px 45px;
	display:block;
}

.photogallery a:hover{
	text-decoration:underline;
}


.videogallery{
	border-top:1px dashed #7f7f7f;
	padding-top:14px;
}

.videogallery a{
	height:32px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	color:#222222;
	text-decoration:none;
	font-weight:bold;
	background:url(../images/video_icon.png) left 0px no-repeat;
	padding:5px 0px 0px 45px;
	display:block;
}

.videogallery a:hover{
	text-decoration:underline;
}

/*---Footer Area Start---*/
#Footer_area{
	width:914px;
	padding-top:15px;
}

DIV#Leftfooter{
	color:#7f7f7f;
	float:left;
}

DIV#Rightfooter{
	color:#7f7f7f;
	float:right;
}

DIV#Rightfooter a{
	font-size:12px;
	color:#7f7f7f;
	text-decoration:none;
}

DIV#Rightfooter a:hover{
	color:#000;
}






/*
     FILE ARCHIVED ON 21:08:53 May 14, 2016 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 20:24:54 Mar 01, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/

/*
#WrapperMain {
	width:auto;
	max-width:1003px
}
#Wrapper {
	width:auto;
	max-width:auto;
}
#Header_area {
	width:auto;
	max-width:auto;
}
#Navigation {
	width:auto;
	max-width:auto;
}
#slider-wrapper {
	width:100%;
	height:auto;
	margin:auto;
	display:block;
}
#slider {
	width:100%;
	height:auto;
	margin:auto;
	display:block;
}
img {max-width:100%}
#footer {width:auto}
@media screen and (max-width:600px) {
	#avmenu {float:none;width:auto;}
	#avmenu ul {width:100%}
	#avmenu img, #avmenu iframe, #avmenu ins, #content ins, ins {
		display:block!important;
		margin:auto!important;
		max-width:100%;
		overflow:hidden;
	}
	#content {margin:10px 0}
	.announce {margin:auto}
 	#header, #footer, #content {margin:0 0 10px}
	#header h1 {float:none;	width:auto;}
	* {	max-width:100%}
	#wrap {overflow:hidden}
}
#Whatsnew_area {
	width:100%;
	height:auto;
	margin:auto;
	display:block;
}
#ContentArea {
	width:100%;
	height:auto;
	margin:auto;
	display:block;
}
#HodidayPackagearea {
	width:100%;
	height:auto;
	margin:auto;
	display:block;
}
#MiddleArea {
	width:100%;
	height:auto;
	margin:auto;
	display:block;
}

#BottomLinksarea{
	width:100%;
	height:auto;
	margin:auto;
	display:block;
}
#Footer_area{
	width:100%;
	height:auto;
	margin:auto;
	display:block;
}

*/
/*
playback timings (ms):
  captures_list: 192.907
  exclusion.robots: 0.069
  exclusion.robots.policy: 0.058
  cdx.remote: 0.071
  esindex: 0.007
  LoadShardBlock: 147.559 (3)
  PetaboxLoader3.datanode: 154.229 (4)
  load_resource: 98.173
  PetaboxLoader3.resolve: 43.794
*/
